@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

:root {
    --medium-grey: #A7A7A7;
    --grey: #C4C4C4;
    --deep-grey: #343434;
    --aqua: #00ffff;
    --pink: #8A8BD4;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    width: 30rem;
    height: 45rem;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pink);
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
}

.login_logo {
    width: 130px;
    margin: 7% 0;
    border-radius: 15px;
}

.login h1 {
    font-weight: 200;
    font-size: 1.2em;
    margin: 5px 0 10px 0;
}

.login h2 {
    font-weight: 200;
    font-size: 1.0em;
    margin: 5px 0 30px 0;
}

.login_label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 100%;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    color: var(--deep-grey);
    border: 2px solid rgba(255, 0, 0, 0);
}

.login_label span {
    position: absolute;
    text-transform: uppercase;
    color: #494949;
    margin: 20px;
    cursor: text;
}

.input:focus {
    background-color: whitesmoke;
    border: 2px solid var(--deep-grey);
}

.icons_btn {
    border: none;
    background-color: #8A8BD4;
    cursor: pointer;
}

.icons {
    width: 50px;
    height: 50px;
    margin: 15px;
}